.ellipsis() {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.background(@start: #ffffff, @end: #000000) {
  background: @end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end)); /* Saf4+, Chrome */
  background-image: linear-gradient(@start, @end);
}

.border(@width: 1px, @color: #dddddd, @scale: .5) {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: @width solid @color;
  transform: scaleY(@scale);
  transform-origin: 0 0;
 }

.setImage(@width, @url, @position-x: center, @position-y: center) {
  background: url(@url) no-repeat;
  background-size: @width auto;
  background-position: @position-x @position-y;
}

.flex-layout(@justify: center, @align: center) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.setFont(@size: 14rem, @color: #ffffff) {
  font-size: @size;
  color: @color;
}